* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  :root {
    --main-accent: #6bfaff;
    --main-bg: #111111;
    --darker-bg: #151515;
    --secondary: rgba(107, 250, 255, 0.7);
    --primary: #fff;
    --bg-envelope-color: #f5edd1;
    --envelope-cover: #FFB6C1;
    --envelope-tab: #D8BFD8;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
  }
  
  body::-webkit-scrollbar {
    background-color: black;
    width: 15px;
  }
  body::-webkit-scrollbar-track {
    margin-top: 50px;
    background-color: var(--darker-bg);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(192, 174, 174);
    border-radius: 10px;
    border: 4px solid rgb(192, 174, 174);
  }
  
  ::selection {
    background: var(--main-accent);
  }
  body {
    overflow-x: hidden;
    background: center/cover no-repeat fixed;
    background-color: rgb(229, 231, 231);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .fade-out {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .navbar {
    position: sticky;
    top: 0;
    background: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
    padding: 0 50px;
  }
  
  #navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style:none;
  }
  
  .navbar__item {
    height: 50px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  .highlight {
    border-bottom: 5px solid var(--main-accent);
  }
  .navbar__links:hover {
    color: var(--main-accent);
  }
  
  #navbar__logo:hover {
    color: var(--main-accent);
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
    .navbar_img{
      align-items: baseline;
    }
    .navbar__menu {
      display: grid;
      grid-template-columns: 3;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 50px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 2px;
      margin: 5px auto;
      transition: all 0.5s ease-in-out;
      background: #FBFBFB;
    }
  
    .navbar__item {
      
      width: 100%;
      
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: normal;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  .scrollFade {
      opacity: 1;
      pointer-events: all;
  }
  
  
  .scrollFade--hidden {
      opacity: 0;
      pointer-events: none;
  }
  
  .scrollFade--visible {
      opacity: 1;
      pointer-events: all;
  }
  
  .scrollFade--animate {
      transition: opacity 0.4s ease-in-out;
  }

  .resume__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 100px;
    }
  .papers {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  }
  
  .noshow {
  display: none;
  }
  
  .papers ul {
  list-style: none;
  }
  .papers ul li {
  padding: 20px;
  background-color: #fff;
  color: black;
  cursor: default;
  border-radius: 10px;
  margin-bottom: 20px;
  }

  .papers ul li:hover {
      background: rgba(0, 0, 0, 0.7); /* Dim the background */
  }

  .papers ul li .start-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--main-accent);
      color: black;
      border: 3px solid black;
      padding: 10px 40px;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 90px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
  }
  
  .papers ul li:hover .start-btn {
      opacity: 1;
  }

  .papers ul li .reattempt-btn {
      position: absolute;
      top: 50%;
      left: 75%;
      margin-right: -20%;
      transform: translate(-50%, -50%);
      background: var(--main-accent);
      color: black;
      border: 3px solid black;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 90px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
  }
  
  .papers ul li:hover .reattempt-btn {
      opacity: 1;
  }

  .papers ul li .result-btn {
      position: absolute;
      top: 50%;
      left: 25%;
      margin-right: -20%;
      transform: translate(-50%, -50%);
      background: #FBFBFB;
      color: black;
      border: 3px solid black;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 90px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
  }
  
  .papers ul li:hover .result-btn {
      opacity: 1;
  }

  .papers ul li:last-child {
  margin-bottom: 0;
  }
  .papers__content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  }
  .papers__content h1 a {
  color: #FBFBFB;
  }
  .papers__content p {
  font-size: 0.9rem;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0px;
  }
  .papers__content .date {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--main-accent);
  }
  
  @media only screen and (max-width: 600px) {
  .papers__content h1 {
    font-size: 18px;
  }
  .papers__content .date {
    font-size: 8px;
  }
  .papers__content p {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .toggle__btn h1 {
    font-size: 16px;
  }
  }
  @media only screen and (min-width: 768px) {
  .papers:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: black
  }
  .papers ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .papers ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .papers ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .papers ul li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    top: 0px;
  }
  .papers ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .papers ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .papers__content .date {
    position: absolute;
    top: -30px;
  }
  }