{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'test/styles.css' %}">
</head>
<body>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1408006177880832" crossorigin="anonymous"></script>
    <nav class="navbar">
        <div class="navbar__container" id="paper">
            <a id="navbar__logo">JEE ADVANCE 2025</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> 
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu"></ul>
        </div>
    </nav>

    <div id="username" data-username="{{ user.username }}" style="display:none;"></div>

    <script src="{% static 'test/script.js' %}"></script>
</body>
</html>